body {
  font-family: "Raleway", Sans-serif;
  padding: 0;
  border: 0;
  margin: 0;
  background-color: black;
  text-align: center;
  color: white;
}

.bg-header {
  width: 1374px;
  height: 849px;
}

.desc-section {
  font-size: 16px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.d1 {
  display: inline-block;
  vertical-align: middle;
}

.iguana-1 {
  top: 845px;
  left: 731px;
  width: 399px;
  height: 237px;
}

p {
  margin-right: 150px;
  top: 876px;
  left: 150px;
  width: 475px;
  text-align: left;
  font-size: 15px;
}

.icons-section {
  background-color: #1E1A13;
  padding-bottom: 70px;
  padding-top: 70px
}

.eventos {
  margin-bottom: 70px;
  margin-top: 70px;
}

.evento1 {
  display: inline-block;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

img {
  width: 316px;
  height: 202px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}

footer {
  background-color: #1E1A13;
}
a{
  color: white;
}
